<html>
  <head>
    <title>New Complain</title>
  </head>
  <body>
    <p>A complain has been made for property {{property}}</p>
    <p>Has the caretaker been contacted?? {{contactCaretaker}} </p>
    <p>The complain is {{complain}}</p>
    <p>Jodex Properties</p>
  </body>
</html>