<!-- src/emailTemplates/resetCode.hbs -->

<html>
  <head>
    <title>Password Reset Code</title>
  </head>
  <body>
    <p>Dear {{userName}},</p>
    <p>Your password reset code is
      <strong>{{resetCode}}</strong>. It will expire in 10 minutes.</p>
    <p>Thank you,</p>
    <p>Jodex Properties</p>
  </body>
</html>